[submodule "ssd1306"]
	path = ssd1306
	url = git@github.com:adafruit/Adafruit_SSD1306.git
[submodule "gfx"]
	path = gfx
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "nordic"]
	path = nordic
	url = git@github.com:matthiasbock/nRF51-nordic.git
[submodule "sdk"]
	path = sdk
	url = git@github.com:matthiasbock/nRF51-sdk.git
[submodule "pcb"]
	path = pcb
	url = git@github.com:matthiasbock/nRFduino-ATOLED1-XPRO-Adapter.PCB.git
